.logoutContainer {
    background-color: rgba(5, 24, 41, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 17px 80px 317px;
    height: 100vh;
  }
  
  @media (max-width: 991px) {
    .logoutContainer {
      padding: 0 20px 100px;
    }
  }
  
  .logoutImage {
    aspect-ratio: 1.21;
    object-fit: contain;
    object-position: center;
    width: 643px;
    border-radius: 0;
    max-width: 100%;
  }